.campoDigitacao {
   font-size: 20px;
   height: 130px;
}

.frase {
   font-size: 20px;
}

.campoDesativado {
   background: #ccc;
}

.icones {
   vertical-align: middle;
}

.bordaVermelha {
   border: 3px solid red;
}

.bordaVerde {
   border: 3px solid green;
}